<nav class="site-nav">
  {%- include "navigation-start.html" -%}
  {%- if config.sticky_mobile_nav -%}
    <input
      type="checkbox"
      id="nav-toggle"
      class="toggle"
      autocomplete="off"
      aria-label="Toggle navigation menu"
    >
    <label
      for="nav-toggle"
      class="toggle-label"
      aria-hidden="true"
    >
      <span></span>
    </label>
  {%- endif -%}
  {%- assign navItems = collections.navigationLinks | eleventyNavigation -%}
  {%- if page and page.navigationParent -%}
    {{ navItems | toNavigation: page.navigationParent, pageLanguage.search_label -}}
  {%- elsif eleventyNavigation and eleventyNavigation.key -%}
    {{- navItems | toNavigation: eleventyNavigation.key, pageLanguage.search_label -}}
  {%- else -%}
    {{- navItems | toNavigation: navigationParent, pageLanguage.search_label -}}
  {%- endif -%}
  {%- include "navigation-end.html" -%}
</nav>
